
.app {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: gray;
}

h1 {
  text-align: center;
}

.input-container {
  margin-bottom: 15px;
}

.filter-container button {
  padding: 8px 12px;
  border: none;
  background-color: #0b74e3;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.filter-container button.active {
  background-color: #dc3545; /* Ubah warna saat aktif */
}


.input-container button {
  width: 70px;
  padding: 8px;
  border: none;
  background-color: #0279f9;
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
}

.filter-container {
  margin-top: 15px;
}

.filter-container input {
  margin-right: 5px;
}
